/* Main Layout */
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    background-size: 10000px;
}

#appBar {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(89, 107, 98, 0.95);
    width: 100%;
    height: 65px;
    position: fixed;
    top: 0;
    z-index: 1;
}

button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.7em;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: blueviolet;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    margin-top: 85px;
}

.category {
    position: relative;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.category img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.category-name {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
}

/* Side Panel Styling */
.sidePanel {
    position: fixed;
    right: -100%;
    top: 0;
    width: 40%;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    padding: 20px;
    z-index: 2;
    overflow-y: auto;
    transition: right 2s ease; /* Smooth slide-in effect */
}

.sidePanel img {
    width: 100%;
    border-radius: 10px;
}

.close-btn {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 20px;
    text-decoration: none;
}

/* Trigger panel to open when targeted */
:target {
    right: 0;
}

#panel1:target {
    right: 0;
}

#panel2:target {
    right: 0;
}

/* Responsive Design */
@media screen and (max-width: 950px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 480px) {
    .gallery {
        grid-template-columns: 1fr;
    }
}
